body {
    font-family: 'roboto', sans-serif;
  }

.top{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 400px;
    background-color: #1f2937;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links-container{
    display: flex;
    gap: 20px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .text{
    width: 445px;
    margin-right: 50px;
}

.text .main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}


.text .secondary-text, a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 300;
}

.sign-up-button{
    margin-top: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

.hero .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    color: #ebebeb;
    width: 500px;
    height: 235px;
}