body {
    font-family: 'roboto', sans-serif;
  }

.top{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 500px;
    background-color: #1f2937;
}

 /* header section */

 .header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links-container{
    display: flex;
    gap: 20px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .text{
    width: 445px;
    margin-right: 50px;
}

.text .main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}


.text .secondary-text, a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 300;
}

.sign-up-button{
    margin-top: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

.hero .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    color: #ebebeb;
    width: 500px;
    height: 235px;
}

/* mid section */

.mid{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding: 10px;
}

.mid .random{
    margin: 30px;
    font-weight: 800;
    font-size: 35px;
}

.subtext-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtext-container .subtext{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 25px;
    width: 150px;
    height: 250px;
    gap: 10px;
}

.subtext .empty-box{
    height: 150px;
    width: inherit;
    border-radius: 15px;
    border: solid #3b82f6;
}